body {
  font-family: 'Roboto', sans-serif; /* Sets global font */
margin: 0;


}





div.header {

display: flex;
flex-direction: row;
justify-content: space-around;

background-color: #1f2937;
color: white;
}

ul{

display: flex;
justify-content: center;
flex-direction: row;
align-items: center;



gap: 20px   ;

list-style-type: none;

}


div.box1{
background-color: #1f2937;
height: 500px;
display: flex;
justify-content: center;
align-items: center;
gap: 50px;


}


div.left{

height: 400px;
width: 500px;

display: flex;
justify-content: center;
flex-direction: column;

}
h1{color: #f9faf8;
font-weight: 800;
font-size: 48px;
margin: 0;
}


p{

  font-size: 18px;
  color:#e5e7eb ;
  

}



div.right{

  display: flex;
  justify-content: center;
  align-items: center;
height: 300px;
width: 600px;

background-color: #929292;
}

button.sign {

background-color: #3882f6;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
width: 100px;
height: 40px;
font-size: 18px ;
font-weight: 700;

}





h2 {
display: flex;
justify-content: center;
align-items: center;
margin: 50px;
font-weight: 800;
font-size: 30px;



}

div.box2{

background-color: #ffffff;
height: 500px;
display: flex;
flex-direction: row;
justify-content: center;
gap: 50px;

}



div.itm1 {

  height: 200px;
  width: 200px;
  border-radius: 10px;
  background-color: #ffffff;
  
 border: 5px solid #3882f6;
}

  div.itmtxt {
  text-align: center;
width: 200px;
font-size: 20px;
margin-top: 10px;

}



div.box3{

background-color: #e4e4e4;
height: 500px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;


}

div.inspiring {

width: 1000px;
height: 200px;
font-size: 36px;
color:#444444 ;

}
div.author {


  display: flex;
  justify-content: flex-end;
font-weight: 800;
font-size: 28px;
color: black;
margin: 50px;

}


div.box4 {

display: flex;
flex-direction: row;
justify-content: space-around;

background-color: #ffffff;
color: white;

height: 500px;

}